{% extends 'kernel/layout.html' %}

{% block title %}
Productos
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        {# Filtro por categoría y tienda, usa GET para persistencia de parámetros en URL #}
        <form method="GET" class="mb-4" id="filter-form" action="{% url 'filter_products' %}">
            <input type="hidden" name="store" value="{{ request.GET.store }}">  {# tienda preseleccionada #}
            <div class="row">
                <div class="col-md-4">
                    <select name="category" class="form-select" id="category-select">
                        <option value="">Todas las Categorías</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        {# Lista de productos mostrada dinámicamente (HTML parcial incluido) #}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="product-list">
            {% include 'products/product_list.html' %}
        </div>

        {# Navegación por páginas con preservación de filtros activos #}
        <nav aria-label="Page navigation" class="d-flex justify-content-center my-3">
            <ul class="pagination pagination-md">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-dark"
                           href="?page={{ products.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.store %}&store={{ request.GET.store }}{% endif %}">
                            <span>&#8203;</span><i class="fa-solid fa-caret-left"></i>
                        </a>
                    </li>
                {% endif %}
                {% for num in products.paginator.page_range %}
                    <li class="page-item {% if products.number == num %}active{% endif %}">
                        <a class="page-link text-dark"
                           href="?page={{ num }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.store %}&store={{ request.GET.store }}{% endif %}">
                            {{ num }}
                        </a>
                    </li>
                {% endfor %}
                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link text-dark"
                           href="?page={{ products.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.store %}&store={{ request.GET.store }}{% endif %}">
                            <span>&#8203;</span><i class="fa-solid fa-caret-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
{% endblock %}